<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rest API Explanation</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>REST MONGO API</h1>
    <a href="#"><h3>server documentation</h3></a>
    <h3>Links</h3>
    <ul>
        <li><a href="https://mongodb.com">MongoDB</a></li>
        <li><a href="https://expressjs.com">Express</a></li>
        <li><a href="https://react.dev">React</a></li>
        <li><a href="https://nodejs.org/en/">NodeJS</a></li>
        <li><a href="https://mongoosejs.com">Mongoose</a></li>
    </ul>
</body>
</html>